body {
    background-color:rgb(236, 236, 159);
}
table, th, td {
    border: 1px solid black;
    width: 25%;
    align-content: flex-end;
    display: flexbox;
}
.disabled :hover {
    font-size: 55px; 
    text-align: right; 
    position: right;
    height: 250px;
    width: 250px; 
}
.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:  black;
    background-color:yellow;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.cookies :hover {
    background-color:lightgrey;
    color:blue;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 10%;
}
.close {
    height: 20px;
    background-color: #777;
    border: none;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}
ul  {
    
    size: 150px;
    list-style-type: none;
    margin: 5;
    padding: 20;
    overflow: hidden;
    background-color: rgb(148, 92, 148);
}
li  {
    
   float: right;
} 
li a {
    font-size: 35px;
    color: whitesmoke;
    display: block;
    padding: 20px;

}
#office {
    border-radius: 5%;
    width: 600px;
    height: 400px;
    align-content: center;
    display: flexbox;
}
#smile {
    border-radius: 35%;
    width: 50x;
    height: 400px;
}
.middle {
    
    background-color: rgb(123, 236, 231);
}

.first-doc {
    display: grid;
    border: 2px dotted black;
    width: 200px;
    float: right;
}
hr {
    color: red;

}
#section-1 {
   
    border-radius: 12%;
    width: 615px;
    height: 440px;
    background-image: /*image of tools*/url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJh1EqQF0cOOFcigM5hjm_ukYxlut4Zka3zg&usqp=CAU");
   /*background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRW8FOIuntPP88I3m-oClAeMzlR2nQXEvmUdQ&usqp=CAU");
    */
}
#section-2  {
    width: 950px;
    height: 400px;
    background-image: url("https://img.freepik.com/free-photo/professional-dentist-tools-chair-dental-office_128319-10.jpg?size=626&ext=jpg");
}
h2 {
    margin: 2%;
    padding: 25%;
}
#profile-1 {
    border-radius: 2%;
    background-color: lightyellow;
}
#profile-2 {
    float: right;
    border-radius: 2%;
    background-color: lightcyan;
}